<div class="acoes">
    <h3>O que fará hoje?</h3>
    <div class="lista">
        
        <a href="/verificar">
            <div class="card">
                Transação
            </div>       
        </a>

        <a href="/deposito">
            <div class="card">
                Depósito
            </div>
        </a>

        <a href="/saque">
            <div class="card">
                Saque
            </div>
        </a>

        <a href="/fatura">
            <div class="card">
                Fatura
            </div> 
        </a>
       
    </div>
</div>