<h1>oiiii</h1>
<h2>nome: {{dado.nome}}</h2>
<h3>idade do {{dado.nome}} é de: {{dado.idade}}</h3>
{{#if dado.auth}}
    <p>você está logado</p>
    <a href="/dash">
        entre no painel
    </a>
    {{else}}
        <p>pode não</p>
{{/if}}

<p>papai calabreso</p>