<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>criar user</title>
</head>
<body>
    <h1>Crie o usuario</h1>
    <div class="forms">
        <form action="/user/save", method="post">
            <label for="nome">Nome</label>
            <input type="text" name="nome", placeholder="insira o nome aqui">
            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="insira a senha aqui">
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>