<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Home Page</h1>
    <a href="/carros">
        <button>LISTAR CARROS</button>     
    </a>
    <a href="/user/create">
        <button>CRIAR USUARIO</button>
    </a>
    <a href="/user/lista">
        <button>LISTAR USUARIO</button>
    </a>
    
</body>
</html>