 <div class="prince">
    <form action="/verificar" method="post">
        <h1>Transferência</h1>
        <p class="erro">{{alerta}}</p>
        <label for="cpf">Informe o CPF do destinatário</label><br>
        <input type="text" name="cpf" id="cpf" placeholder="seu cpf aqui." required><br>
        <button type="submit">Avançar</button>
    </form>
</div>