 <div class="prince">
    <form action="/deposito" method="post">
        <h1>Depósito</h1><br>
        <p class="erro">{{alerta}}</p><br>
        <label for="valor">Informe o valor</label><br>
        <input type="text" name="valor" id="valor" placeholder="insira o valor aqui." required><br>  
        <button type="submit">Depositar</button>
        <a href="/">
            <p class="merchan">
               Voltar para a tela inicial
            </p>
        </a>
    </form>
</div>