 <div class="prince">
    <form action="/login" method="post">
        <h1>Login</h1>
        <p class="erro">{{alerta}}</p>
        <label for="cpf">Informe seu CPF</label><br>
        <input type="text" name="cpf" id="cpf" placeholder="seu cpf aqui." required><br>
        <button type="submit">Acessar</button>
        <a href="/cadastro">
            <p class="merchan">
                Ainda não tem uma conta no nosso banco ? cadastre-se
            </p>
        </a>
    </form>
</div>