 <div class="prince">
    <form action="/transferencia" method="post">
        <h1>Tranferencia para {{nome}}</h1><br>
        <p class="erro">{{alerta}}</p><br>
        <label for="grana">Informe a quantia</label><br>
        <input type="text" name="grana" id="grana" placeholder="informe o valor" required><br>
        <button type="submit">Enviar</button>
        <a href="/">
            <p class="merchan">
                Sair para tela inicial.
            </p>
        </a>
    </form>
</div>